.cashier-table {
  position: relative;
  width: 90%;
  margin: 1vh 1vw 1vh 1vw;
  border: solid 2px black;
  z-index: 2 !important;

  &.product-table-container {
    width: 90%;
    height: 50vh;
    padding: 1vh 1vw;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid #000;
    z-index: 1 !important;

    .spinner {
      position: absolute;

      &.active {
        opacity: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        color: #000; /* Ajuste a cor conforme necessário */
        font-size: 50px;

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      opacity: 0;
    }

    .table-wrapper {
      width: 100%;
      height: 100%;
      overflow-y: auto; /* Adiciona rolagem vertical */
    }
  }

  .act {
    background-color: #d5e1e9;
    height: 50px;

    .act-btn {
      font-size: 2pc;
      padding: 5px 1px 5px 1px;
      position: relative;

      input {
        width: 100%;
        padding: 5px;
        border: none;
        outline: none;
      }

      .dropdown {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 48px;
        font-size: 15px;
        right: 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1000;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 8px 12px;
            cursor: pointer;

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
    }
  }

  &.act-footer {
    height: 20vh;
    background-color: #d4e1e9;

    .total-item, .troco-item {
      .title, .total, .troco {
        white-space: nowrap; /* Impede a quebra do texto */
        font-size: clamp(12px, 2vw, 45px); /* Ajusta o tamanho da fonte conforme a largura da tela */
        text-align: center; /* Centraliza o texto */
      }
    }
    .total-item {
      background-color: #bcdde6;
      border-right: #000 solid 2px;

      .title {
        font-family: 'Nauticus-Bold';
        font-size: 45px;
        text-transform: uppercase;
      }

      .total {
        font-family: 'Quicksand-Bold';
        font-size: 30px;
        color: red;
      }
    }

    .troco-item {
      background-color: #bcdde6;
      border-right: #000 solid 5px;

      .title {
        font-family: 'Quicksand-Bold';
        font-size: 15px;
      }

      .troco {
        font-family: 'Quicksand-Bold';
        font-size: 15px;
        color: red;
      }
    }

    .info-sale {
      .input-group {
        position: relative;
        border: black solid 2px;
        border-radius: 5px;

        &.autocomplete {
          position: relative;
        }

        label {
          position: absolute;
          top: -5px;
          left: 5px;
          padding: 10px 5px;
          pointer-events: none;
          z-index: 1;
          transition: 0.3s;
          color: #000;
          white-space: nowrap; /* Impede a quebra do texto */
          font-size: clamp(12px, 2vw, 20px);
        }

        input {
          z-index: 0;
          font-size: clamp(12px, 2vw, 16px);
          &:focus~label {
            &.client-label {
              left: 14vw;
              top: 4vh;
              color: #000;
              font-family: "Quicksand-Bold";
            }

            &.pg-label {
              top: -7vh;
              left: -0.5vw;
              color: #000;
              font-family: "Quicksand-Bold";
            }
          }

          &:valid~label {
            opacity: 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 1vh 0;
    
    &.product-table-container {
      padding: 2vh 2vw;
      height: auto;

      .table-wrapper {
        .product-table {
          font-size: 1pc;
          
          th, td {
            padding: 5px;
          }
        }
      }
    }

    .act {
      height: auto;

      .act-btn {
        font-size: 1.5pc;
        padding: 3px 0;
      }
    }

    &.act-footer {
      height: auto;
      padding: 2vh 2vw;

      .total-item {
        .title {
          font-size: 30px;
        }

        .total {
          font-size: 20px;
        }
      }

      .troco-item {
        .title, .troco {
          font-size: 12px;
        }
      }

      .info-sale {
        .input-group {
          label {
            font-size: 18px;
          }
        }
      }
    }
  }
}
