.link{
    display: flex;
    flex-direction: column;
    align-items: end;
    .item{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 22vw;
        padding: 1vh 0;
        
        &.item-nogroup{
            border-bottom: solid black 2px;
            &:hover{
                background-color: #5792c0;
                
                border: solid black 2px;
                border-right: none;
                border-top: none;
            }
        }
        .rt{
            text-decoration: none;
            color: white;
            font-size: 20px; 
            padding-right: 3vw;
            transition: 0.5s opacity ease-in-out;
            &.active{
                opacity: 0;
            }   
        }
        .icon{
            font-size: 20px;
        }
        &.group{
            display: flex;
            flex-direction: column;
            align-items: end;
            .item-group{
                display: flex;
                flex-direction: row;
                justify-content: end;
                width: 100%;
                border-bottom: solid black 2px;
                text-decoration: none;
                .icon{
                    color: white;
                    margin-right: 1vw;
                    transition: 0.2s font-size ease-in-out;
                }
                .icon.active{
                    transform: translateX(-20px);
                    font-size: 40px;
                    width: 10%;
                }
            }
            .item-group:hover{
                background-color: #5792c0;
                border: solid black 2px;
                border-right: none;
                border-top: none;
            }.item-group:hover ~ .group-name{
                background-color: #8fc2e9;
                border-radius: 0.5rem;     
            }.item-group:hover ~ .group-name > i{
                font-size: 30px !important; 
                font-family: 'Nauticus-Bold';  
            }
            .group-name{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                border-radius: 0;
                margin-right: 0.1vw;
                border-bottom: solid black 2px;
                &.active{
                    opacity: 0;
                } 
                i{
                    transition: 0.2s font-size ease-in-out;
                    font-size: 25px;
                }
                &.active{
                    background-color: black;
                }
            }
        }
        
    }
    color: white;
    width: 100%;
    
    
    &.active{
        background-color: white;
        color:black;
    }
}