 $NAVBAR_WIDTH: 300px;
 $NAVBAR_WIDTH_COLLAPSED: 100px;

.navbar{
    background-color: $background-blue-nav;
    height: 100vh;
    transition: 0.7s ease;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $NAVBAR_WIDTH;
    border: 3px solid black;
    .navheader{
      width: 100%; 
      border-bottom: 3px black solid; 
      padding-bottom: 1vw;
      .profile-div{
        transition: 0.4s ease-in-out;
        opacity: 1;
        &.active{
          transform: translatex(-14vw);
          opacity: 0;
        }
        .profile-info{
          font-family: 'Nauticus'; 
          font-size: 15px;
        }
      }
      .profile{
        transition: 0.5s ease-in-out;
        &.active{
          transform: translatex(-13.2vw);
        }
        img{
          border-radius: 50%;
        }
      }
    }
    
    &.active{
      width: $NAVBAR_WIDTH_COLLAPSED;
    }
    .collapse-icon{
        z-index: 3;
      position: absolute;
      bottom: 0;
      padding: 0.75rem;
      color: white;
      transition: 0.6s linear;
      justify-content: end;
      width: 100%;
      background-color: black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      .icon{
        transition: 0.6s linear;
        &.active{
          transform: rotate(180deg);
        }
      }
      
    }
  }