.img-div{
    /* topo | direita | inferior | esquerda */
    margin: 5vh 1vw 5vh 0vw;
    .image{
        height: 100px; 
        width: 100px;
       /*  margin: 5vh 0vw 2vh 3vw; */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .cam{
        font-size: 50px;
        position: absolute;
        margin: 1.5vh 0.1vw 0 0;
        opacity: 0%;
        transition: 100ms linear;
        &:hover{
            opacity: 40%;
        }
    }
}
.container-fluid{
    /* topo | direita | inferior | esquerda */
    margin: 10vh 5vw 10vh 5vw;
    .form{
        background-color: red;
        .img-div{
            $value: 0;
            &:hover .image{
                border: 5px white solid;
                top: -1vh;
            }
            &:hover .img-title{
                $value: 100;
                opacity: $value;
            }
            &:hover .cam_icon{
                opacity:  40%;
            }
            .img-title{
                font-family: "Quicksand-bold";
                color: white;
                font-size: 20px;
                border-radius: 5px;
                margin: 1vh 0 1vh 1vw;
                /* opacity: 100%; */
                transition: 100ms linear;
                opacity: $value;
            }
            /* margin: 5vh 5vw 5vh 5vw; */
            /*.image{
                
                margin: 5vh 0vw 2vh 3vw;
                border-radius: 50%;
                border: 0px;
                transition: 100ms linear;
                position: relative;
                top: -0vh;
                width: 100px;
                height: 100px;
                object-fit: cover;
                z-index: 0;
                &.cam_icon{
                    position: absolute;
                    z-index: 1; 
                    opacity: 100%;
                    height: 90px;
                    width: 90px;
                    margin-top: 15vh;
                    border: 0px transparent;
                    &:hover{
                        
                        
                        margin-top: 14.5vh;
                        opacity: 100%;
                    }
                }
    
            }
            */
            .cam_icon{
                margin: 7vh 0vw 2vh 3vw;
                position: absolute;
                font-size: 50px;
                z-index: 1;
                color: black;
                opacity: 0%;
                &:hover{
                    opacity:  40%;
                }
                /* @media only screen and (max-height: 377px) {
                    top: 14%;
                }
                @media only screen and (max-height: 284px) {
                    top: 15%;
                } */
            }
        }
        .input-group{
            width: 90%;
            position: relative;
            margin: 20px 0;
            label{
                position: absolute;
                top:50%;
                left: 5px;
                transform: translateY(-50%);
                padding: 0 5px;
                pointer-events: none;
                z-index: 1;
                transition: 0.3s;
                font-size: 20px;
            }
            input{
                z-index: 0;
                &:focus~label,
                &:valid~label{
                    top: -13px;
                    color: white;
                    font-family: "Quicksand-Bold";
                }
            }
        }
}
}