// Importando as fontes da pasta brandy_2
@font-face {
    font-family: 'Brandy';
    src: url('./brandy_2/Brandy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Importando as fontes da pasta quicksand
@font-face {
    font-family: 'Quicksand-Bold-Oblique';
    src: url('./quicksand/Quicksand_Bold_Oblique.otf') format('opentype');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('./quicksand/Quicksand_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Book-Oblique';
    src: url('./quicksand/Quicksand_Book_Oblique.otf') format('opentype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Quicksand-Book';
    src: url('./quicksand/Quicksand_Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Dash';
    src: url('./quicksand/Quicksand_Dash.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Regular-Oblique';
    src: url('./quicksand/Quicksand_Light_Oblique.otf') format('opentype');
    font-weight: 300;
    font-style: oblique;
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('./quicksand/Quicksand_Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nauticus-Bold';
    src: url('./nauticus-sans/NauticusSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Nauticus';
    src: url('./nauticus-sans/NauticusSans.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
