$background-blue-nav : #70abd7;
$background-blue:#70cbd7;
$background-black:#d3d3d3;
$background-logo:#ff9814;

$gradientbg-blue-orange:linear-gradient(140deg, rgba(255,152,20,1) 33%, rgba(112,170,214,1) 93%);

